* {
    box-sizing: border-box;
    /* border: 2px solid violet;     */
}

html,
body {
    margin: 0;
    padding: 0;
}
.section1 {
    height: 100vh;
    background-color: rgb(191 176 156);
    grid-area: section1;
    /* padding: 0% 8%;  */
   
}
.container-section1{
    height: 100vh;
    width: 84%;
   
    margin: auto;
   background-color: rgb(0,0,0);
   border-radius: 20px;
}
.nav-bar{
display: flex;
flex-direction: row;
height: 10vh;
padding: 4%;
}
.nav-bar-left{
    width: 70vw;
    color: #fafafa;
    font-size:larger;
    font-weight: bolder;
    display: flex;
    justify-content:start;
   
}
.nav-bar-right{
    display: flex;
    justify-content: space-around;
    width: 30vw;

}
.nav-button{
    border: none;
    color: #fafafa;
   background-color:rgb(0,0,0);
}
.span-btn{
    display: none;

}
.nav-button:hover{
    color:rgb(191 176 156);
}

.nav-button:hover >span{
   display: block;
   height: 20px;
}


.title{
    height: 50vh;
    color: #fafafa;
    font-size: 60px;
    padding: 4%;
  
}
.second-frase{
   color: rgb(191 176 156); 
}
.hr-middle{
    border: 0;
    padding-top: 1px;
    background: linear-gradient(to right, transparent, #5f5f60, transparent);
}
.description{
    height: 25vh;
    display: flex;
    flex-direction: row;
    /* padding: 4%; */
}
.description-left{
    width: 50vw;
    padding: 4%;
}
.p-left{
    color: #fafafa;
    font-size:larger;
    font-weight: bolder;
    display: flex;
    justify-content:start;
   
}
.description-right{
    width: 50vw; 
    display: flex;
     flex-direction: column;
    justify-content:flex-start; 
    /* align-items: center;  */
    
}

.p-right{

    height: 8vh;
    color: #a8a6a6;
  
}
.p-right-btn{
   color: #fafafa;
   background-color: #5f5f60;
   width: 80px;
   height: 40px;
   border: none;
   border-radius:4px;
   
}
