* {
    box-sizing: border-box;
 /* border: 2px solid violet;   */
}

html,
body {
    margin: 0;
    padding: 0;
}


.grid-container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh 100vh 100vh 100vh 100vh 100vh 100vh 100vh;
    grid-template-areas:
        "header"
        "section1"
        "section2"
        "section3"
        "section4"
        "section5"
        "section6"
        "footer";
}
header {
    background-color: yellow;
    grid-area: header;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "header-left header-right";
}

.header-left {
    /* border: 1px solid red; */
    grid-area: header-left;
}

.header-right {
    /* border: 1px solid red; */
    grid-area: header-right;
}


.section1 {
    background-color: rgb(191 176 156);
    grid-area: section1;
    padding: 0% 8%;
   
}
.container-section1{
   background-color: rgb(0,0,0);
   border-radius: 20px;
}
.nav-bar{
display: flex;
flex-direction: row;
height: 10vh;
padding: 4%;
}
.nav-bar-left{
    width: 70vw;
    color: #fafafa;
    font-size:larger;
    font-weight: bolder;
    display: flex;
    justify-content:start;
   
}
.nav-bar-right{
    display: flex;
    justify-content: space-around;
    width: 30vw;

}
.nav-button{
    border: none;
    color: #fafafa;
   background-color:rgb(0,0,0);
}
.span-btn{
    display: none;

}
.nav-button:hover{
    color:rgb(191 176 156);
}

.nav-button:hover >span{
   display: block;
   height: 20px;
}


.title{
    height: 50vh;
    color: #fafafa;
    font-size: 60px;
    padding: 4%;
  
}
.second-frase{
   color: rgb(191 176 156); 
}
.hr-middle{
    border: 0;
    padding-top: 1px;
    background: linear-gradient(to right, transparent, #5f5f60, transparent);
}
.description{
    height: 25vh;
    display: flex;
    flex-direction: row;
    /* padding: 4%; */
}
.description-left{
    width: 50vw;
    padding: 4%;
}
.p-left{
    color: #fafafa;
    font-size:larger;
    font-weight: bolder;
    display: flex;
    justify-content:start;
   
}
.description-right{
    width: 50vw; 
    display: flex;
     flex-direction: column;
    justify-content:flex-start; 
    /* align-items: center;  */
    
}

.p-right{

    height: 8vh;
    color: #a8a6a6;
  
}
.p-right-btn{
   color: #fafafa;
   background-color: #5f5f60;
   width: 80px;
   height: 40px;
   border: none;
   border-radius:4px;
   
}

/* ---------------------section2---------------------------- */
.section2 {
    background-color: yellow;
    grid-area: section2;
}

.section3 {
    background-color: rgb(52, 125, 133);
    grid-area: section3;
}

/* ---------------------section4------------------------ */
.section4 {
    background-color: rgb(191 176 156);
    grid-area: section4;
    padding: 0% 8%;
}
.middle-container{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-section4{
    height: 50vh;
    color: #fafafa;
    font-size: 60px;
    padding: 4%; 
}
.p-below{
    height: 25vh;
    color: rgb(191 176 156);
    font-size: 3.5rem;
    overflow: hidden;
    display: block;
   
}
.section5 {
    background-color: rgb(52, 125, 133);
    grid-area: section5;
}
.section6{
    background-color: rgb(153, 159, 70);
    grid-area: section6;
}

footer {
    background-color: brown;
    grid-area: footer;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "footer-left footer-right";
}
.footer-left {
    /* border: 1px solid rgb(17, 15, 15); */
    grid-area: footer-left;
}

.footer-right {
    /* border: 1px solid rgb(35, 29, 29); */
    grid-area: footer-right;

}

@media screen and (max-width: 600px) {
    footer {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        "footer-left" 
        "footer-right";
    } 
    header {
       
        grid-template-columns: 100%;
        grid-template-rows:50% 50%;
        grid-template-areas: 
        "header-left" 
        "header-right";
    }
    
}

